<!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="/javascript/main.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/queries.css">
        </head>
    <body>
        
        <header class="background-image">
            <a id="home">
            <div class="row">
              <div class="mobile-nav"> 
                <i class="fa fa-bars hamburger-icon" aria-hidden="true"></i> 
              </div>
              </div>
              
              <div class="row">
                <div class="navbar">
                    <div class="logo">
                        <p>EC</p>
                    </div>
                    <ul class="navbar-links">
                        <li>
                            <a class="link" href="#home">HOME</a>
                          </li>
                        <li>
                            <a class="link" href="#about">ABOUT</a>
                        </li>
                        <li>
                            <a class="link" href="#portfolio">PORTFOLIO</a>
                        </li>
                        <li>
                            <a class="link" href="#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
              </div>
              
                <div class="row">
                    <div class="image-name-box">
                        <img class="img-responsive" id="self-image" src="https://i.imgur.com/SmeHWAw.jpg?2">
                        <h1>Elizabeth Castro</h1>
                        <h3>Web Developer</h3>
                    </div>
                </div>
            </a>
        </header>
    
        <section class="about-me">
            <a id="about">
                <h2>ABOUT ME</h2>
                <div class="about-description">
                    <p>ELIZABETH CASTRO - A WEB DEVELOPER FROM AUSTIN, TX</p>
                    <p>I am a full-stack web developer who loves to learn and overcome the challenges that come my way. I specialize in HTML, CSS, and Javascript. I have also accomplished building my own web app from the ground up using MongoDB, Express, EJS, and NodeJS. On my downtime I love to read and spend time with my family. Feel free to take a look at my most current projects below!</p>
                </div>
            </a>
        </section>
    
        <section class="portfolio">
            <a id="portfolio">
                <h2 class="portfolio-title">PORTFOLIO</h2>
                <div class="row">
                    <ul class="clearfix">
                        <li class="portfolio-image">
                            <a target="_blank" href="https://secure-woodland-77150.herokuapp.com/books">
                                <img src="https://i.imgur.com/Zw4FiEn.png">
                            </a>
                        </li>
                        <li class="portfolio-image">
                            <a target="_blank" href="https://codepen.io/lizbabe14/full/mXEXJw/">
                                <img src="https://i.imgur.com/6Xyq2yC.png?1">
                            </a>
                        </li>
                        <li class="portfolio-image">
                            <a target="_blank" href="https://codepen.io/lizbabe14/full/paEWxm/">
                                <img src="https://i.imgur.com/9KUYZm2.png?1">
                            </a>
                        </li>
                    </ul>
                </div>
            </a>
        </section>
    
        <section class="contact">
          <a id="contact">
            <h2 class="contact-title">CONTACT</h2>
            <p id="contact-paragraph">I am currently available for hire, feel free to leave your information if you think my skills could be of service to you!</p>
            <div class="row">
                <form action="/contact" method="post" role="form">
                    <div class="form">
                        <input type="text" class="form-control" name="name" placeholder="Name" required="required">
                        <input type="text" class="form-control" name="email" placeholder="E-mail" required="required">
                        <textarea class="form-control" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
                        <button class="btn btn-primary btn-small">Submit</button>
                    </div>
                </form>
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/profile.php?id=578680222" class="facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/in/elizabeth-castro-841537102/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/lizcastroprogrammer" class="github"><i class="fa fa-github-square"></i></a>
            </div>
          </a>
        </section>
    
    </body>
</html>